body {
  font-family: Gravity;
  src: url(https://ncwatersidepark.github.io/fonts/Gravity-Bold.otf);
}

@font-face {
    font-family: Gravity;
    src: url(https://ncwatersidepark.github.io/fonts/Gravity-Bold.otf);
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d40054;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #dddddd;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
}

.main {
  margin-left: 15%;
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 60%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
