body {
  font-family: Gravity;
  src: url(/fonts/Gravity-Bold.otf);
}

@font-face {
    font-family: Gravity;
    src: url(/fonts/Gravity-Bold.otf);
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d40054;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: Gravity;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #dddddd;
  display: block;
  font-family: Gravity;
}

.sidenav a:hover {
  color: #ffffff;
}

.main {
  margin-left: 15%;
  font-size: 28px;
  padding: 0px 10px;
  font-family: Gravity;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.gallery {
  margin: 5px;
  float: left;
  width: 93%;
  font-family: Gravity;
}

div.gallery img {
  width: 100%;
  height: auto;
  font-family: Gravity;
}

div.desc {
  text-align: left;
  font-family: Gravity;
}

.clear {
    clear: both;
    font-family: Gravity;
}
